<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    canvas {
        border: 1px solid #000;
        background-color: aqua;
        /* height: 150px; */
    }

    img {
        height: 300px;
    }
</style>

<body>
    <img src="../../public/images.jpg" alt="">

    <div class="d">
        <canvas></canvas>
    </div>
</body>

</html>

<script>
    let img = document.querySelector("img")
    let canvas = document.querySelector('canvas')
    let ctx = canvas.getContext('2d');
    ctx.drawImage(img, 150, 20, 50, 50, 0, 0, 100, 100)

    // this is an github repo github.com/Prinice9096
</script>
