* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.register_box {
    height: fit-content;
    width: 500px;
    padding: 20px;
    background-color: rgba(0, 238, 255, 0.179);
}

.label_input_combo {
    height: fit-content;
    margin-top: 10px;
}

.label_input_combo label {
    font-size: 11px;
    display: block;
}

.label_input_combo input {
    height: 40px;
    border-radius: 8px;
    border: 0;
    padding-left: 10px;
    width: 100%;
}

.register_box .label_input_combo:not(:first-child) {
    margin-top: 7px;
}

.referral_container {
    display: flex;
    flex-direction: column;
}

.referral_container input[type=checkbox] {
    zoom: 1.2;
    cursor: pointer;
}

#checkBoxId label {
    font-size: 13px;
    cursor: pointer;
    user-select: none;
    padding-left: 3px;
}

#checkBoxId a {
    font-size: 13px;
}

#checkBoxId {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#referral {
    height: 40px;
    border-radius: 8px;
    border: 0;
    padding-left: 10px;
    width: 100%;
}

.referral_container .label_input_combo {
    display: none;
}


form input {
    outline-color: rgba(0, 0, 0, 0.344);
}

#referralBy {
    color: green;
}

.error_container {
    background-color: red;
    height: 50px;
    width: 0px;
    overflow: hidden;
    position: absolute;
    color: white;
    top: 20px;
    right: 20px;
    display: flex;
    transition: all 0.3s;
}

.error {
    display: flex;
    align-items: center;
    height: inherit;
    padding-left: 10px;
    width: fit-content;
}

.close_error_container {
    width: 30px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close_error_container i {
    font-size: 18px;
}

#referralBy {
    font-size: 11px;
    display: none;
}

.inputAll_error {
    display: none;
    font-size: 11px;
    color: red;
}

.signIn {
    font-size: 12px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.register_button {
    width: 100%;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    background-color: rgb(92, 184, 92);
    border: 0;
    color: white;
}

#loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #4285F4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    25% {
        border-top-color: #4285F4;
    }

    100% {
        border-top-color: #0F9D58;
        transform: rotate(360deg);
    }
}

.loaderPerent {
    height: 100vh;
    width: 100%;
    background-color: #80808090;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}