* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
}

.container {
    height: 100vh;
    width: 450px;
    border: 1px solid #000;
    display: flex;
    min-width: 450px;
}

.Folder {
    width: 100%;
}

.folderHeading {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

}

.folderHeading:hover {
    background-color: #ebebeb;
}

.folderName {
    padding-left: 2px;
    max-width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.down_arrow,
.right_arrow {
    font-size: 25px;
    padding-top: 3px;
    font-weight: 200;
}

.actionIcons {
    position: absolute;
    right: 10px;
}

.actionIcons i {
    font-size: 18px;
    font-weight: 200;
}

.popupContainer {
    height: 100vh;
    width: 100%;
    z-index: 999;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: #ebebeb71;
}

.popup {
    height: fit-content;
    width: 450px;
    border: 1px solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    background-color: white;
}

.folderNameInput {
    display: block;
    margin-top: 5px;
    padding-left: 10px;
    height: 40px;
    width: 100%;
}

.folderCreateButton,
.folderCancelButton {
    height: 40px;
    width: 100px;
    font-size: 13px;
    cursor: pointer;
    margin-top: 10px;
}

.folderNameError {
    color: red;
    display: none;
}

.childContainer {
    padding-left: 5px;
    width: 100%;
    display: none;
}

.Folder[data-status="true"]>.childContainer {
    display: block;
}

.deleteContainer {
    height: fit-content;
    width: fit-content;
    border: 1px solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    background-color: white;

}

.deleteContainer button {
    height: 40px;
    width: 100px;
    font-size: 13px;
    cursor: pointer;
    margin-top: 10px;
}


@media (max-width : 480px) {
    .container {
        width: 100%;
    }
}

.sidebar {
    height: 7%;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: end;
    padding-right: 20px;
    position: relative;

}

.circle {
    height: 30px;
    width: 30px;
    border: 1px solid #000;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar h2 {
    margin-right: 10px;
}

.logoutContainer {
    position: absolute;
    height: fit-content;
    width: fit-content;
    border: 1px solid #000;
    top: 65px;
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;

}

#logoutFromCompany {
    border-bottom: 2px solid black;
}

.logoutContainer h5 {
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding: 0px 20px;
    cursor: pointer;
}

.logoutContainer h5:hover {
    background-color: #e4e4e4;
}




.folderDoument {
    width: 100%;
    height: 100vh;
}

.documentContainer {
    height: 93%;
    width: 100%;
}

#addDocBTN {
    height: 40px;
    width: 130px;
    font-size: 13px;
    cursor: pointer;
    position: absolute;
    left: 5px;
}

.documentRenderContainer {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 93%;
}

.document {
    width: 100%;
    height: fit-content;
    display: flex;
    cursor: pointer;
    padding: 10px 0px;
    padding-left: 5px;
}

.document:hover {
    background-color: #e4e4e4;
}

.documentImageContainer {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 3%;
}

.documentImageContainer img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.documentNameContainer {
    display: flex;
    height: 40px;
    width: 97%;
}

.documentName {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.documentActionButton {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
}

#viewDoc {
    margin-right: 5px;
}

.documentPopupContainer {
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(3px);
    background-color: #ebebeb71;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.documentpopup {
    height: fit-content;
    width: 450px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
}

#closeDocumentPopup {
    position: absolute;
    right: 10px;
    top: 10px;
}

.uploadContainer {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    border: 2px dashed #aaa;
    transition: background 0.3s;
}

#uploadIcon {
    font-size: 30px;
}

#upload {
    position: absolute;
    border-radius: 100%;
    height: 200px;
    cursor: pointer;
    width: 200px;
    display: none;
}



.uploadContainer.hover {
    background: #eef;
    border-color: #339;
}

#uploadButton {
    height: 40px;
    width: 100px;
    font-size: 13px;
    cursor: pointer;
    display: none;
}

#uploadName {
    width: 150px;
    height: fit-content;
    white-space: wrap;
    text-align: center;
    overflow: hidden;
}

.imageViewContainer {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    backdrop-filter: blur(3px);
    background-color: #000;
    display: none;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

.imageViewContainer img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 800px;
    width: 800px;
    object-fit: contain;
}

#imageViewContainerClose {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 60px;
    width: 60px;
    border: 1px solid white;
    color: white;
}

#imageViewContainerClose i {
    font-size: 20px;
}

#fileNameInput {
    height: 40px;
    width: 250px;
    padding-left: 10px;
    margin-right: 10px;
}

.filesActions {
    position: absolute;
    bottom: 10px;
    display: none;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 10px;
}